.h1 h1 {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.2); /* Needed for blur to be visible over lavender */
  border: 10px;
  border-color: white;
  border-radius: 100px;
  width: fit-content;
  padding: 3vh;
  margin-left: 10vh;
  margin-top: 40vh;
  font-size: 10vh;
}

body{
  background-color: lavender
}